@import "tailwindcss";

::-webkit-scrollbar {
  width: 5px; 
  height: 10px; 
}

::-webkit-scrollbar-track {
  background: white; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #131212; 
  border-radius: 10px;
}
